body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    align-items: center;
    background: linear-gradient(skyblue, rgb(149, 211, 175));
    color: #fff;
    padding: 20px;
    /* Ajout de la propriété justify-content pour aligner les éléments du header */
    justify-content: space-between;
  }
  
  .logo {
    height: 50px;
    margin-right: auto;
  }
  
  .bag-log {
    display: flex;
    align-items: center;
  }
  
  .bag-log a {
    color: #000;
    margin-right: 20px;
    font-size: 2em;
  }
  
  .favorite.styled {
    background-color: #333;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    cursor: pointer;
  }
  
  .favorite.styled:hover {
    background-color: #444;
  }
  
  main {
    padding-top: 75px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
    height: 10vh;
    align-items: center;
    align-self: center;
    text-align: center;
    background-size: cover;
  }
  
  .image,
  .image2 {
    display: grid;
    max-width: 200px;
    align-items: center;
    align-self: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .image {
    grid-row: 1;
  }
  
  .image2 {
    grid-row: 5;
  }
  
  .titre,
  .auteur,
  .prix {
    display: grid;
  }
  
  .titre {
    grid-row: 2;
  }
  
  .auteur {
    grid-row: 3;
  }
  
  .prix {
    grid-row: 4;
  }
  
  .titre2,
  .auteur2,
  .prix2 {
    display: grid;
  }
  
  .titre2 {
    grid-row: 6;
  }
  
  .auteur2 {
    grid-row: 7;
  }
  
  .prix2 {
    grid-row: 8;
  }
  