 
.logo {
    height: 50px;
    margin-right: auto;
  }
  
.bag-log {
    display: flex;
    align-items: center;
 }
 
.bag-log a {
    color: #000;
    margin-right: 20px;
    font-size: 2em;
 }
 
.favorite.styled {
    background-color: #333;
    border: none;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    cursor: pointer;
 }
 
.favorite.styled:hover {
    background-color: #444;
 }




body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
 }
 
header {
   display: flex;
   align-items: center;
   background: linear-gradient(skyblue, rgb(149, 211, 175));
   color: #fff;
   padding: 20px;
   justify-content: space-between;
 }
 
.logo {
    height: 50px;
    margin-right: auto;
 }
 
.bag-log {
    display: flex;
    align-items: center;
 }

 main {
    width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  p {
    font-size: 1.5em;
    line-height: 1.5;
    margin: 1em 0;
  }
  
  
  